.p-Home.Flex216:hover {
       transform:
          rotate(0deg)
          scale(1)
          translateY(10px);
}

.p-Home.Flex39:hover {
     transform: scale(0.9);
}

.p-Home.Flex40:hover {
     transform: scale(0.9);
}

.p-Home.Flex41:hover {
     transform: scale(0.9);
}

.p-Home.Flex38:hover {
     transform: scale(0.9);
}

.p-Home.Image94:hover {
     transform: scale(0.9);
}

.p-Home.Image93:hover {
     transform: scale(0.9);
}
